<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AWS S3 Image Viewer</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" />
    <style>
      body {
        margin: 0;
        padding: 0;
        background-image: url("https://wallscloud.net/img/resize/1920/1080/MM/2016-09-29-windows-xp-bliss-l5Eg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
      }
      .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }
      .image {
        width: auto;
        height: auto;
        margin: 100px 100px 100px 200px;
      }
    </style>
</head>
<body>
<div class="container">
    <div id="image-id-container">
        <label for="image-id">Enter Image Key (ID + . + sizeType + . + extension):</label>
        <input type="text" id="image-id" name="image-id" />
        <button onclick="loadImage()">Load Image</button>
    </div>
    <div id="image-container" style="display: none;">
        <img id="image-object" class="image" src="" />
    </div>
    <button id="close-btn" style="display: none;">Close Viewer</button>
</div>

<script>
  const closeBtn = document.getElementById('close-btn');
  let imageObject = null;

  function loadImage() {
    const imageId = document.getElementById('image-id').value;
    let imageObj = document.getElementById('image-object');
    if (!imageObj) {
      imageObj = document.createElement('img');
      imageObj.setAttribute('id', 'image-object');
    }

    const xhr = new XMLHttpRequest();
    xhr.open('GET', `/media/${imageId}`);

    xhr.onload = function() {
      if (xhr.status === 200) {
        imageObj.setAttribute('src', URL.createObjectURL(this.response));
        imageObject = imageObj;
        closeBtn.style.display = 'inline-block';
        document.getElementById('image-container').style.display = 'block';
      } else {
        window.location.href = `/stream/${xhr.status}`;
      }
    };

    xhr.responseType = 'blob';
    xhr.send();
  }

  closeBtn.addEventListener('click', () => {
    imageObject = null;
    closeBtn.style.display = 'none';
    document.getElementById('image-container').style.display = 'none';
  });

</script>
</body>
</html>
