tfoot(style='background-color: #DFF3FF;')
  tr
    td(align='center')
      a.social(href='#')
        img(src='https://564722.selcdn.ru/stg-qvedo-api-media-images/a2209de1-7fb6-48b1-baeb-b22b6daadd40.m.png' alt='' width='20px' height='20px')
      // /.social
      a.social(href='#')
        img(src='https://564722.selcdn.ru/stg-qvedo-api-media-images/15292acb-a2bd-48b0-8f84-92c34999e67a.m.png' alt='' width='20px' height='20px')
      // /.social
      a.social(href='#')
        img(src='https://564722.selcdn.ru/stg-qvedo-api-media-images/4fa9392f-d7c2-458a-bac8-4cbd2e1544f3.m.png' alt='' width='20px' height='20px')
      // /.social
      a.social(href='#')
        img(src='https://564722.selcdn.ru/stg-qvedo-api-media-images/6e2590f2-fd01-4866-9c63-0af3c90904f2.m.png' alt='' width='20px' height='20px')
      // /.social
      a.social(href='#')
        img(src='https://564722.selcdn.ru/stg-qvedo-api-media-images/9b4ff3e2-3677-4a6a-9a8e-7d8fe3efcb29.m.png' alt='' width='20px' height='20px')
      // /.social
  tr
    td(align='center' colspan='2')
      a.link-shop(href='#')
        img(src='https://564722.selcdn.ru/stg-qvedo-api-media-images/2c9dc6d2-8432-4d89-be1a-b208f8430de1.m.png' alt='' height='30px' width='102px')
      // /.link-shop
      a.link-shop(href='#')
        img(src='https://564722.selcdn.ru/stg-qvedo-api-media-images/e8653c5b-bcc1-4ff6-b48a-f7348f431ff6.m.png' alt='' width='90px' height='30px')
      // /.link-shop
  tr
    td(align='center')
      a.link(href='#' style='color: #3C3C47;') Terms of Use
      // /.link-shop
      a.link(href='#' style='color: #3C3C47;') Privacy Policy
      // /.link-shop
      a.link(href='#' style='color: #3C3C47;') About Us
      // /.link-shop
  tr
    td(align='center')
      p(style='font-family: Arial, sans-serif')
        small(style='color: #3C3C47;')
          | Вы получили это письмо потому что подписаны на информационную рассылку от get response.
          br
          |                 Чтобы отписаться от рассылки нажмите
          a(href='#' style='text-decoration: underline; color: #3C3C47;')  здесь
