title Qvedo
meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
meta(name='viewport' content='width=device-width, initial-scale=1.0')
meta(name='x-apple-disable-message-reformatting')
meta(http-equiv='X-UA-Compatible' content='IE=edge')
// [if !mso] <!
 // <![endif]
 //if gte mso 9
   style(type='text/css').
     li { text-indent: -1em; }
     table td { border-collapse: collapse; }
 // content
 //if gte mso 9
   xml
     o:officedocumentsettings
       o:allowpng
         o:pixelsperinch 96
