extends ../layout.pug

block contentBody
  tbody
    tr(style='box-shadow: 0px 4px 20px rgb(0 0 0 / 8%)')
      td
        table(width='100%' border='0' cellpadding='0' cellspacing='0')
          tbody
            tr
              td.logo(align='left' valign='top' style='padding-top: 20px; padding-right: 30px; padding-bottom: 20px; padding-left: 30px;')
                img(src='https://564722.selcdn.ru/dev-qvedo-api-media-images/f5cfd890-7f96-4b31-9fe3-236601ddb79c.s.png' alt='Qvedo' border='0' width='138px' height='30px' style='display: block;')
              td(align='right')
                center
                  table.header-right(width='100%' border='0' cellpadding='0' cellspacing='0' style='padding-top: 16px; padding-bottom: 16px; padding-right: 30px; padding-left: 0; margin: 0; width: 100%;')
                    tbody
                      tr
                        td(align='right' style='font-family: Arial,sans-serif; font-size: 12px; color: #3C3C47;')
                          a.btn.btn--outline(href='#' style='color: #24B0FF;') Личный кабинет
                          // /.btn btn--outline
    tr
      td
        table.table-text(width='100%' border='0' cellpadding='0' cellspacing='0')
          tbody
            tr
              td
                table(width='100%' border='0' cellpadding='0' cellspacing='0' style='padding: 0;')
                  tbody
                    tr
                      td
                        h4(style='color: #3C3C47; margin-top: 0;') Заказ #{order_status}
                        p(style='color: #3C3C47;')
                          | Здравствуйте, #{username}!
                          br
                          br
                          | Ваш заказ #{order_id}
                          | подтвержден. Теперь вы можете перейти к оплате
                        a.btn.btn--outline.btn--big(href='#' style='color:#24B0FF') Перейти к переписке
                        // /.btn btn--outline
block contentFooter
  include ../partials/footer.pug
